.git
.gitignore
.vs
.idea
docs
ai-transcripts
UnitTests
README.md
*.drawio
*.$mapping*

Dockerfile
.dockerignore
docker-compose.yml
docker-compose*.yml

.env
.env.*

**/bin/
**/obj/
**/*.user
**/*.suo
**/node_modules/
